<?xml version="1.0" encoding="UTF-8"?>

<repositories>
	
	<odoo14_opto-e_collaudo>
		<active>True</active>
		<name>odoo14_opto-e</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_opto-e_collaudo>
	<odoo14_opto-e_master>
		<active>True</active>
		<name>odoo14_opto-e</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_opto-e_master>
	
	<odoo14_panchic_collaudo>
		<active>True</active>
		<name>odoo14_panchic</name>
		<branch_update>update-odoo-accounting-collaudo-wms</branch_update>
		<branch_update_target>collaudo-wms</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>True</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_panchic_collaudo>
	<odoo14_panchic_master>
		<active>True</active>
		<name>odoo14_panchic</name>
		<branch_update>update-odoo-accounting-master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>True</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_panchic_master>
	
	<odoo14_plenzich_collaudo>
		<active>True</active>
		<name>odoo14_plenzich</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>True</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_plenzich_collaudo>
	<odoo14_plenzich_master>
		<active>True</active>
		<name>odoo14_plenzich</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>True</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_plenzich_master>
	
	<odoo14_sendix_collaudo>
		<active>True</active>
		<name>odoo14_sendix</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_sendix_collaudo>
	<odoo14_sendix_master>
		<active>True</active>
		<name>odoo14_sendix</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_sendix_master>
	
	<odoo14_simulware_collaudo>
		<active>True</active>
		<name>odoo14_simulware</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_simulware_collaudo>
	<odoo14_simulware_main>
		<active>True</active>
		<name>odoo14_simulware</name>
		<branch_update>update_odoo_accounting_main</branch_update>
		<branch_update_target>main</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_simulware_main>
	
	<odoo14_symphonie_collaudo>
		<active>True</active>
		<name>odoo14_symphonie</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>True</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_symphonie_collaudo>
	<odoo14_symphonie_master>
		<active>True</active>
		<name>odoo14_symphonie</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>True</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_symphonie_master>
	
	<odoo14_cgr_collaudo>
		<active>True</active>
		<name>odoo14_cgr</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_cgr_collaudo>
	<odoo14_cgr_master>
		<active>True</active>
		<name>odoo14_cgr</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_cgr_master>
	
	<odoo14_epiroc_collaudo>
		<active>True</active>
		<name>odoo14_epiroc</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_epiroc_collaudo>
	<odoo14_epiroc_master>
		<active>True</active>
		<name>odoo14_epiroc</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>14.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo14_epiroc_master>
	
	<odoo13_bit2win_collaudo>
		<active>True</active>
		<name>odoo13_bit2win</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_bit2win_collaudo>
	<odoo13_bit2win_master>
		<active>True</active>
		<name>odoo13_bit2win</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_bit2win_master>
	
	<odoo13_mast_collaudo>
		<active>True</active>
		<name>odoo13_mast</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_mast_collaudo>
	<odoo13_mast_master>
		<active>True</active>
		<name>odoo13_mast</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_mast_master>
	
	<odoo13_pccube_collaudo>
		<active>True</active>
		<name>odoo13_pccube</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_pccube_collaudo>
	<odoo13_pccube_master>
		<active>True</active>
		<name>odoo13_pccube</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_pccube_master>
	
	<odoo13_saydigital_collaudo>
		<active>True</active>
		<name>odoo13_saydigital</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_saydigital_collaudo>
	<odoo13_saydigital_master>
		<active>True</active>
		<name>odoo13_saydigital</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>False</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_saydigital_master>
	
	<odoo13_rossatogroup_collaudo>
		<active>True</active>
		<name>odoo13_rossatogroup</name>
		<branch_update>update_odoo_accounting_collaudo</branch_update>
		<branch_update_target>collaudo</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_rossatogroup_collaudo>
	<odoo13_rossatogroup_master>
		<active>True</active>
		<name>odoo13_rossatogroup</name>
		<branch_update>update_odoo_accounting_master</branch_update>
		<branch_update_target>master</branch_update_target>
		<submodules>
			<odoo-accounting>True</odoo-accounting>
			<odoo-accounting-enterprise>True</odoo-accounting-enterprise>
			<odoo-accounting-addons>False</odoo-accounting-addons>
		</submodules>
		<version>13.0</version>
		<pr>True</pr>
		<validation_pr>False</validation_pr>
	</odoo13_rossatogroup_master>
</repositories>